{#
/**
 * @file
 * Template for the comment field.
 */
#}

{# CONTROLA VISUALIZACION FORMULARIO COMENTARIOS #}


<section{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if comment_form %}
    <div class="row row-form-comments">
      <div class="col-md-12 d-flex">
        <div class="imagen-perfil">
          <img src=" {{ user_picture }} "> 
        </div>
        <div{{ content_attributes.addClass('card') }}>
          <div class="card">
            <div class="card-body">
              {{ comment_form }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ comments }}

</section>
