{#
/**
 * @file
 * Template for the tol item field.
 */
#}

<section{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if items|length % 4 == 0 %}
    {% set index = (items|length / 4) %}
  {% else %}
    {% set index = (items|length / 4) + 1 %}
  {% endif %}

  {% if items|length > 4 %}
    <!--Carousel Wrapper-->
      <div id="multi-item-articles" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-articles" data-slide="prev"><i class="fa fa-arrow-left"><img src="/themes/custom/consum_es/assets/img/left.svg" class="btn-ci"/></i></a>
            <a class="btn-floating" href="#multi-item-articles" data-slide="next"><i class="fa fa-arrow-right"><img src="/themes/custom/consum_es/assets/img/right.svg" class="btn-ci"/></i></a>
        </div>
        <!--/.Controls-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
        <!--First slide-->
          {% for slider in range(0, index - 1) %}
            {% if slider < 1 %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}

            <div class="row">
              <div class="col-md-3">
                {% set element_index = attribute(items, 4 * slider) %}
                {{ element_index }}
              </div>

              <div class="col-md-3">
                {% set element_index = attribute(items, 4 * slider + 1) %}
                {{ element_index }}
              </div>

              <div class="col-md-3">
                {% set element_index = attribute(items, 4 * slider + 2) %}
                {{ element_index }}
              </div>

              <div class="col-md-3">
                {% set element_index = attribute(items, 4 * slider + 3) %}
                {{ element_index }}
              </div>
            </div>

          </div>

          {% endfor %}

        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
      {% else %}
        <div class="row">
          <div class="col-md-3">
            {% set element_index = attribute(items, 0) %}
            {{ element_index }}
          </div>

          <div class="col-md-3">
            {% set element_index = attribute(items, 1) %}
            {{ element_index }}
          </div>

          <div class="col-md-3">
            {% set element_index = attribute(items, 2) %}
            {{ element_index }}
          </div>

          <div class="col-md-3">
            {% set element_index = attribute(items, 3) %}
            {{ element_index }}
          </div>
        </div>
      {% endif %}

</section>
