{# CARD FOOTER #}

{# VARIABLE NODE ID #}
{% if node.field_contenido_referenciado %}
  {% set node_id = node.field_contenido_referenciado.entity.nid.0.value %}
{% else %}
  {% set node_id = node.id %}
{% endif %}

{# VARIABLE LABEL SHARE #}
{% if node.field_contenido_referenciado %}
  {% set label_share = node.field_contenido_referenciado.entity.label %}
{% else %}
  {% set label_share = label %}
{% endif %}

{# VARIABLE ADDTOANY #}
{% if node.field_contenido_referenciado %}
  {% set add_to_any = node.field_contenido_referenciado.entity.label %}
{% else %}
  {% set add_to_any = label %}
{% endif %}

{# VARIABLES AND LOOP FOR FAVORITE MATCH #}
{% set index = (field_favorites|length) %}
{% set favorite = 'ci-marcador' %}

{% for favorites in field_favorites %}
  {% if node.field_contenido_referenciado %}
    {% if favorites.value['target_id'] == node.field_contenido_referenciado.entity.nid.0.value %}
      {% set favorite = 'ci-marcador-activo' %}
    {% endif %}
  {% else %}
    {% if favorites.value['target_id'] == node.id %}
      {% set favorite = 'ci-marcador-activo' %}
    {% endif %}
  {% endif %}  
{% endfor %}

{# VARIABLES FOR LIKE FIELD #}
{% if node.field_contenido_referenciado %}
  {% set likes = (node.field_contenido_referenciado.entity.field_like|length) %}
  {% set likeObject = node.field_contenido_referenciado.entity.field_like %}
{% else %}
  {% set likes = (node.field_like|length) %}
  {% set likeObject = node.field_like %}
{% endif %}
{% set heart = 'ci-corazon' %}

{# LOOP FOR CURRENT USER LIKE MATCH #}
{% for key in likeObject %}
  {% if key.target_id == user.id %}
    {% set heart = 'ci-corazon-activo' %}
  {% endif %}
{% endfor %}

{# SET TYPE CONTENT FOR SHARE #}
{% if node.field_contenido_referenciado %}
  {% set type_content = node.field_contenido_referenciado.entity.type.value.0.target_id %}
{% else %}
  {% set type_content = node.type.value.0.target_id %}
{% endif %}
{% if type_content != 'receta' %}
  {% set text_type = 'el contenido' %}
{% else %}
  {% set text_type = 'la receta' %}
{% endif %}

{# OTHERS VARIABLES #}
{% if node.field_contenido_referenciado %}
  {% set url_absolute = (url('<front>')|render ~ 'node/' ~ node.field_contenido_referenciado.entity.nid.0.value) %}
  {% set comments = node.field_contenido_referenciado.entity.field_comments.0.comment_count %}
{% else %}
  {% set url_absolute = (url('<front>')|render ~ url|slice(1)) %}
  {% set comments = node.field_comments.0.comment_count %}
{% endif %}

{{ {'#cache': {'max-age': 0}} }}

<div class="row card-footer">
  <div class="col-6 d-flex align-items-center likes-comments">
    {% if likes > 0 %}
      <span id="{{node_id}}"> {{ likes }} </span>
    {% else %}
      <span id="{{node_id}}">0</span>
    {% endif %}
    {% if logged_in %}
      {% if heart %}
        <a class="use-ajax d-flex align-items-center" href="/like/{{node_id}}/{{user.id}}">
          <span id="heart-{{node_id}}" class="btn-ci {{ heart }}">
        </a>
      {% else %}
        <a class="use-ajax d-flex align-items-center" href="/like/{{node_id}}/{{user.id}}">
          <span id="heart-{{node_id}}" class="btn-ci ci-corazon">
        </a>
      {% endif %}
    {% else %}
      <span class="btn-ci ci-corazon"></span>
    {% endif %}
    {% if comments %}
      <div>{{ comments }}</div>
    {% else %}
      <div>0</div>
    {% endif %}
    <span class="btn-ci ci-comentario"></span>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-end market-share">
    {% if logged_in %}
      {% if favorite %}
        <a class="use-ajax d-flex align-items-center" href="/favorites/{{node_id}}/{{user.id}}">
          <span id="flag-{{node_id}}" class="btn-ci {{ favorite }}"></span>
        </a>
      {% else %}
        <a class="use-ajax d-flex align-items-center" href="/favorites/{{node_id}}/{{user.id}}">
          <span id="flag-{{node_id}}" class="btn-ci ci-marcador"></span>
        </a>
      {% endif %}
    {% else %}
      <span id="flag-{{node_id}}" class="btn-ci ci-marcador"></span>
    {% endif %}
    <a href="#" class="btn-ci ci-compartir" data-toggle="modal" data-target="#shareModal{{node_id}}"></a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shareModal{{node_id}}" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="share-modal-title" id="exampleModalLabel">{{ 'Compartir'|t }} {{ text_type|t }}</h5>
        <div class="share-modal-label"> {{ label_share }} </div>
        <div class="p-4"> {% if content.addtoany %} {{ content.addtoany }} {% endif %} </div>
        <div class="pb-4">
          <span class="box-url">
            <input readonly class="input-url" id="copy-{{node_id}}" value={% if url_absolute %} {{ url_absolute }} {% endif %} />
            <button class="boton1 botton-copy" onclick="copyToClipboard({{node_id}})"> {{ 'Copiar'|t }}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
    
{# END CARD FOOTER #}