{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
{{ attach_library('consum_es/style') }}

<article{{ attributes.addClass(classes) }}>

  <div class="row bg-white row-target-n-p p-tb-20 row-1">
    {% if content.field_tiempo_prep_total.0 and content.field_dificultad.0 %}
    <div class="col-md-12 col--1 border-bottom-section p-b-20">
      <div class="row row-in-1">
        <div class="col-md-6 d-flex align-items-center col--1">
          {% if content.field_tiempo_prep_total.0 %}
            <span class="recipes-ci ci-tiempo"></span>
            <div> {{ content.field_tiempo_prep_total.0 }} min</div>
          {% endif %}
          {% if content.field_dificultad.0 %}
            <span class="recipes-ci ci-cocinero"></span>
            <div> {{ content.field_dificultad.0 }} </div>
          {% endif %}
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
    {% endif %}

    <div class="col-md-12 border-bottom-section p-l-20 p-r-20 p-b-20{% if content.field_tiempo_prep_total.0 and content.field_dificultad.0 %} p-t-20{% endif %}">
      <div class="row">
        <div class="col-2">
          <div>Receta de {{ author_name }}</div>
        </div>
        <div class="col-10 d-flex justify-content-end align-items-center">
          <div> Más recetas para </div>
          {% if content.field_tipo_de_comida.0 %} <div class="team-category"> {{ content.field_tipo_de_comida.0 }} </div> {% endif %}
          {% if content.field_necesidades_especificas.0 %} <div class="team-category"> {{ content.field_necesidades_especificas.0 }} </div> {% endif %}
          {% if content.field_tipo_de_plato.0 %} <div class="team-category"> {{ content.field_tipo_de_plato.0 }} </div> {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-6 p-l-20 p-r-20 p-t-20 d-flex align-items-center col--3">
      <div> 0 </div>
      <span class="btn-ci ci-corazon"></span>
      <div>
        {% if node.field_comments.0.comment_count %}
          {{ node.field_comments.0.comment_count }}
        {% else %}
          0
        {% endif %}
      </div>
      <span class="btn-ci ci-comentario"></span>
    </div>
  </div>

    <div class="row bg-white row-target">
      <div class="w-100 d-flex justify-content-center">
        <span class="recipes-ci ci-nutricion"></span>
        <p class="d-inline font-weight-bold"> Información Nutricional (100gr) </p>
      </div>
      <div class="row w-100 d-flex justify-content-center">
        <div class="valores-nutricionales">
          <div class="circle d-flex align-items-center justify-content-center">
            <p> {{ content.field_calorias.0 }}</p>
          </div>
          <p class="txt">Kcal</p>
        </div>
        <div class="valores-nutricionales">
          <div class="circle d-flex align-items-center justify-content-center">
            <p> {{ content.field_hidratos_de_carbono.0 }} gr</p>
          </div>
          <p class="txt">Hidratos de carbono</p>
        </div>
        <div class="valores-nutricionales">
          <div class="circle d-flex align-items-center justify-content-center">
            <p> {{ content.field_proteinas.0 }} gr</p>
          </div>
          <p class="txt">Proteinas</p>
        </div>
        <div class="valores-nutricionales">
          <div class="circle d-flex align-items-center justify-content-center">
            <p>{{ content.field_grasas.0 }} gr</p>
          </div>
          <p class="txt">Grasas</p>
        </div>
      </div>
    </div>

  <div class="row bg-white row-target-n-p p-t-40 p-b-40 row-3">
    <div class="col-md-12 p-l-40 p-r-40 border-bottom">
      <div class="d-flex align-items-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <p class="nav-link font-weight-bold active" data-toggle="tab" href="#ingredientes">Ingredientes</p>
          </li>
          <li class="nav-item">
            <p class="nav-link font-weight-bold" data-toggle="tab" href="#preparacion">Preparación</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 p-l-40 p-r-40 p-t-40 col--2">
      <div class="tab-content">
        <div class="tab-pane active container" id="ingredientes">
          <div class="row row-in-1">
            {% for key, child in content.field_ingrediente if key|first != '#' %}
              <div class="col-md-4">
                <p>{{ content.field_ingrediente[key] }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane container" id="preparacion">
          <div class="col-md-12 d-none d-sm-none d-md-flex justify-content-end">
            <button type="button" class="boton1" data-toggle="modal" data-target="#paso-a-paso">Receta paso a paso</button>
          </div>
          {{ content.body.0 }}
          <div class="row p-t-40" id="accordion">
            {#{ vardumper(content.field_paso[0]['#node']) }#}
              {% if content.field_paso[0] %}
                <div class="col-md-6">
                  <ul class="preparacion-pasos">
                    {% for key, item in node.field_paso if key|first != '#' %}
                      <li>
                        <div class="d-flex align-items-center" data-toggle="collapse" aria-controls="paso-id-{{ item.entity.id }} paso-multimedia-id-{{ item.entity.id }}" data-target=".paso-id-{{ item.entity.id }}" {% if loop.index == 1 %}aria-expanded="true" {% endif %}>
                          <span class="recipes-ci ci-cocinero pb-1"></span>
                          <a>
                            {{ item.entity.title.value }}
                          </a>
                        </div>
                        <div class="collapse paso-id-{{ item.entity.id }} {% if loop.index == 1 %}show {% endif %}" id="paso-id-{{ item.entity.id }}" data-parent="#accordion">
                          <p>{{ item.entity.field_descripcion.value|raw }}</p>
                          {% if item.entity.field_tiempo_prep.value|raw  %}
                          <p>Tiempo de preparación: {{ item.entity.field_tiempo_prep.value|raw }} min</p>
                          {% endif %}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-md-6">
                  {% for key, item in node.field_paso if key|first != '#' %}
                    <div class="collapse paso-id-{{ item.entity.id }} {% if loop.index == 1 %}show {% endif %}" id="paso-multimedia-id-{{ item.entity.id }}" data-parent="#accordion">
                      {% if item.entity.field_video.value and content.field_paso[key]['#node'].field_image.entity.uri.value %}
                      <div id="carousel-files-out" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-files-out" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-files-out" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            {% set id_youtube = item.entity.field_video.value|split('v=') %}
                            <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ id_youtube[1] }}" frameborder="0"> </iframe>
                          </div>
                          <div class="carousel-item">
                            <img src="{{ file_url(content.field_paso[key]['#node'].field_image.entity.uri.value) }}">
                          </div>
                        </div>
                      </div>
                      {% else %}
                        {% if item.entity.field_video.value  %}
                          <div>
                            {% set id_youtube = item.entity.field_video.value|split('v=') %}
                            <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ id_youtube[1] }}" frameborder="0"> </iframe>
                          </div>
                        {% endif %}
                        {% if content.field_paso[key]['#node'].field_image.entity.uri.value  %}
                        <div>
                          <img src="{{ file_url(content.field_paso[key]['#node'].field_image.entity.uri.value) }}">
                        </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-white row-target-n-p p-l-20 p-r-20 p-b-40 row-4">
    <div class="col-md-12 d-flex justify-content-center col-number-comments">
      <span class="btn-ci ci-comentario"></span>
      <span> Comentarios </span>
      {% if content.field_comments.0.comments|length > 0 %}
        <span>({{ content.field_comments.0.comments|length -3 }})</span>
      {% else %}
        <span> (0)</span>
      {% endif %}
    </div>
    <div class="col-md-12">
      {{ content.field_comments }}
    </div>
  </div>

  {{ content.field_tol_item }}

  <div class="row row-5">
    <div class="modal" id="paso-a-paso">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="carousel-pasos" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            {% if content.field_paso[0] %}
            {% for key, item in node.field_paso if key|first != '#' %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <div class="row row-in-1">
                <div class="col-md-12 col--1">
                  <h3>{{ item.entity.title.value }}</h3>
                </div>
                <div class="col-md-6">
                  <ul class="preparacion-pasos">
                      <li>
                        <div class="d-flex align-items-center">
                          <span class="recipes-ci ci-cocinero pb-1"></span>
                          <a>
                            {{ item.entity.title.value }}
                          </a>
                        </div>
                        <div>
                          <p>{{ item.entity.field_descripcion.value|raw }}</p>
                        </div>
                      </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div>
                    {% if item.entity.field_video.value and content.field_paso[key]['#node'].field_image.entity.uri.value %}
                      <div class="tab-content">
                        <div class="tab-pane active container" id="video-in">
                            {% set id_youtube = item.entity.field_video.value|split('v=') %}
                            <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ id_youtube[1] }}" frameborder="0"> </iframe>
                        </div>
                        <div class="tab-pane container" id="img-in">
                            <img src="{{ file_url(content.field_paso[key]['#node'].field_image.entity.uri.value) }}">
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <div class="nav-link font-weight-bold active" data-toggle="tab" href="#video-in"></div>
                          </li>
                          <li class="nav-item">
                            <div class="nav-link font-weight-bold" data-toggle="tab" href="#img-in"></div>
                          </li>
                        </ul>
                      </div>
                    {% else %}
                      {% if item.entity.field_video.value  %}
                        <div>
                          {% set id_youtube = item.entity.field_video.value|split('v=') %}
                          <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ id_youtube[1] }}" frameborder="0"> </iframe>
                        </div>
                      {% endif %}
                      {% if content.field_paso[key]['#node'].field_image.entity.uri.value  %}
                      <div>
                        <img src="{{ file_url(content.field_paso[key]['#node'].field_image.entity.uri.value) }}">
                      </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6 d-flex justify-content-start col--4">
                  <button type="button" class="boton2" href="#carousel-pasos" data-slide="prev">Paso anterior</button>
                </div>
                <div class="col-md-6 d-flex justify-content-end col--5">
                  <button type="button" class="boton1" href="#carousel-pasos" data-slide="next">Paso siguiente</button>
                </div>
                {% if item.entity.field_tiempo_prep.value|raw  %}
                <div class="col-md-12 col--6">
                  <p>Tiempo de preparación: {{ item.entity.field_tiempo_prep.value|raw }} min</p>
                </div>
                {% endif %}
                </div>
              </div>
            {% endfor %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
