{#
    Variables
    e: Maquetación del contenido
	img1: front image
	img2: back image
	target: target link
	enlace: link
	border: image border
#}

<div class="imagenhover 
{% if ocultar['escritorio'] %}  d-lg-none d-xl-none {% else %} d-lg-block d-xl-block  {% endif %}
{% if ocultar['tablet'] %} d-md-none {% else %} d-md-block {% endif %}
{% if ocultar['movil'] %} d-none d-sm-none {% else %} d-xs-block d-sm-block {% endif %}
">
	{% if enlace %}<a target="{{ target }}" href="{{ enlace }}">{% endif %}
		{% if img2 %}
		<img class="img2 img-responsive" {% if border %} style="border-radius: {{ border }};" {% endif %} src="{{ img2 }}" {% if alt %} alt="{{ alt }}" {% endif %}> 
		<!-- OPTION: Image 2-->
		{% elseif img1 %}
				<img class="img2" {% if border %} style="border-radius: {{ border }};" {% endif %} src="{{ img1 }}" {% if alt %} alt="{{ alt }}" {% endif %}>
		{% endif %}
		
		{% if img1 %}
		<img class="img1" {% if border %} style="border-radius: {{ border }};" {% endif %} src="{{ img1 }}" {% if alt %} alt="{{ alt }}" {% endif %}>  
		<!-- OPTION: Image 1-->
		{% endif %}
	{% if enlace %}</a>{% endif %}
</div>
