{#
    Variables
	img1: background image
  gradient: 1 apply gradient and 0 not apply
	texto1: text
	texto2: link text
	target: target link
	enlace: link
	color_bot: style of button
	color_fondo: background color
  customHeight: Custom Height for block
  visibility: Hide block for tye users selected
  ocultar: dispositivos en los que el bloque no se mostrará. Opciones: 'escritorio', 'movil', 'tablet'
#}


{% set build_texto1 = {
    '#type':   'processed_text',
    '#text':    texto1.value,
    '#format': 'rich_text',
  }
%}

{% if gradient == 1 %}
  {% set style_gradient = 
    'linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),'
  %}
{% endif %}

{% if (visibility == 'users') and (logged_in == true) %}

{% elseif visibility == 'anonymous' and (logged_in == false) %}

{% else %}
<div class="cta {{ color_fondo }}
{% if ocultar['escritorio'] %}  d-lg-none d-xl-none {% else %} d-lg-block d-xl-block  {% endif %}
{% if ocultar['tablet'] %} d-md-none {% else %} d-md-block {% endif %}
{% if ocultar['movil'] %} d-none d-sm-none {% else %} d-xs-block d-sm-block {% endif %}
"style="background-image: {% if style_gradient %} {{ style_gradient }} {% endif %} url('{{ img1 }}');
{% if alto  %} padding:0px!important; {% endif %} {% if color_fondo %} background-color:{{ color_fondo }}; {% endif %}">
  
  <div class="row justify-content-center align-items-center {% if alto %} {{ alto }} {% endif %}" style="{% if customHeight  %} height:{{ customHeight }} {% endif %}">
    <div class="col-12">
      <h4 class="{% if color_fondo == 'sin-fondo' or color_fondo == 'fondo-blanco' %} gris3  {% endif %}">
        {{ build_texto1 }}
       </h4>
      {% if enlace %}
        <br><a target="{{ target }}" class="{{ color_bot }}" href="{{ enlace }}" role="button">{{ texto2 }}</a>
      {% endif %}
    </div>
  </div>

</div>
{% endif %}


