{#
    Variables
  img1: background image
  img2: background image responsive
  titulo: title of node
  tituloDinamico: title of node
  listLinks: list links
#}

{% if img2 %} 
  {% set mobileImage = img2 %}
{% else %}
  {% set mobileImage = img1 %}
{% endif %}


<!-- Desktop -->
<div class="
{% if ocultar['escritorio'] %}  d-lg-none d-xl-none {% else %} d-lg-block d-xl-block  {% endif %}
{% if ocultar['tablet'] %} d-md-none {% else %} d-md-block {% endif %}
{% if ocultar['movil'] %} d-none d-sm-none {% else %} d-xs-block d-sm-block {% endif %}
">
  <!--div class="cabecera d-none d-sm-none d-md-block" {% if img1 %}  style="background-image:url('{{ img1 }}');" {% else %} style="background-color: #f8951d;" {% endif %}>
    <h1>{% if tituloDinamico %} {{ tituloDinamico }} {% endif %} </h1>
  </div-->
  <div class="p-3"><p class="cabecera-breadcrumb"> {{ listLinks }} </p></div>

  <!-- Mobile -->
  <!--div class="cabecera d-block d-sm-block d-md-none" {% if mobileImage %}  style="background-image:url('{{ mobileImage }}');" {% else %} style="background-color: #f8951d;" {% endif %}>
    <h1>{% if titulo %} {{ titulo }} {% endif %} </h1>
  </div-->
</div>
