{#
    Variables
  terms: vocabulary terms
#}

<!-- Desktop -->

{{ attach_library('consum_es/style') }}

<div id="carousel-block-{{ random() }}" class="carousel js-carousel">
	<div class="carousel__container js-carousel-container">
		<div class="carousel__list js-carousel-list">
    
    {% for clave,term in terms %}            
      {% for key,name in term %}

        {% if clave == 1 %}
            <a class="boton2 carousel__item js-carousel-item" href="taxonomy/term/{{ key }}"> {{ name }} </a>
        {% else %}
            <a class="boton2 carousel__item js-carousel-item" href="taxonomy/term/{{ key }}"> {{ name }} </a>
        {% endif %}
        
        {% endfor %}          
      {% endfor %}
          
    </div>
  </div>
  <div class="carousel__nav">
		<button class="carousel__button--prev js-carousel-button" data-dir="prev"></button>
		<button class="carousel__button--next js-carousel-button" data-dir="next"></button>
	</div>
</div>