{#
    Variables
	img1: background image
	texto1: custom text
  alto: row height
  customHeight: block custom height
  customStyle: Custom class
	color_fondo: background color
  visibility: Hide block for tye users selected
#}

 {% set build_texto1 = {
      '#type':   'processed_text',
      '#text':    text1.value,
      '#format': 'rich_text',
} %}

{% if (visibility == 'users') and (logged_in == true) %}

{% elseif visibility == 'anonymous' and (logged_in == false) %}

{% else %}
<div class="customtext {{ customStyle }}
{% if hide['escritorio'] %}  d-lg-none d-xl-none {% else %} d-lg-block d-xl-block  {% endif %}
{% if hide['tablet'] %} d-md-none {% else %} d-md-block {% endif %}
{% if hide['movil'] %} d-none d-sm-none {% else %} d-xs-block d-sm-block {% endif %}
row align-items-center {% if height  %} {{ height }} {% endif %} {{ background_color }}"
style="{% if customHeight  %} min-height: {{ customHeight }}; {% endif %} {% if background_color %} background-color:{{ background_color }}; {% endif %}">
  <div class="col-12"">
    {{ build_texto1 }}
  </div>
</div>
{% endif %}




