{#
/**
 * @file
 * Template for a block.
 */
#}
{#
  Variables
  visibility: Visibility general carousel
  items: Items
#}

<div id="carouselBlockUnlimited" class="carousel slide {% if visibility['escritorio'] %}d-xl-none d-lg-none{% else %}d-xl-block d-lg-block{% endif %}{% if visibility['tablet'] %} d-md-none{% else %} d-md-block{% endif %}{% if visibility['movil'] %} d-sm-none d-none{% else %} d-sm-block d-block{% endif %}" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
  {% for clave, item in items %}
    <div class="carousel-item {% if loop.first %}active{% endif %}" style="{% if not item['url_image'] %}height: 250px;{% endif %}">
      <div class="div-element-carousel-item d-flex {{ item['background_color'] }} {{ item['position'] }} align-items-center">    
        {% if item['url_image'] %}
          <img src="{{ item['url_image'] }}">
        {% endif %}
        {% if item['text']['value'] %}
          <div class="txt {{ item['align'] }} col-md-4">
            {{ item['text']['value']|raw }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  {% if items|length >= 2 %}
  <a class="carousel-control-prev" href="#carouselBlockUnlimited" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselBlockUnlimited" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  {% endif %}
</div>