{#
/**
 * @file
 * Template for a Dropdown menu component.
 */
#}
<div class="dropdown-menu col-md-4">
  <ul{{ attributes.addClass(nav_classes) }}>
  {% for item in items %}
    {% set nav_item_classes = [
      'nav-item ',
      'col-md-6 ',
      item.in_active_trail ? 'active ',
      item.is_custom_active ? 'active ',
      item.is_custom_class ? 'icon-node ',
      item.is_custom_class ? item.is_custom_class_name
    ] %}
    <li class="{{ nav_item_classes|join('') }}" {% if item.is_custom_class %} data-node="{{ item.is_custom_data }}" {% endif %}>
      {% set nav_link_classes = ['nav-link'] %}
      {% if item.url.options.attributes.class is iterable %}
        {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
      {% elseif item.url.options.attributes.class %}
        {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
      {% endif %}
      {% if item.is_external %}
        {{ link(item.title, item.url, { 'target= "_blank", class': nav_link_classes }) }}
      {% else %}
        {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>